<!DOCTYPE html>
<html ng-app="LivedoohExample">
<head>
<meta charset="utf-8">
<script src="js/angular.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="css/bootstrap.min.css"></script>
<title>Livedooh Project</title>
</head>
<body>

	<div class="jumbotron">
		<h1>Livedooh AngularJS and REST project</h1>
	</div>

	<div ng-controller="TabController as tab">
		<section class="tab">
			<ul class="nav nav-pills">
				<li ng-class="{ active: tab.isSet(1) }"><a href
					ng-click="tab.setTab(1)">Encode</a></li>
				<li ng-class="{ active: tab.isSet(2) }"><a href
					ng-click="tab.setTab(2)">Decode</a></li>
			</ul>
		</section>

		<div ng-show="tab.isSet(1)">
			<form name="encodeForm">
				<h4>Input text to encode in Base64</h4>
				<input ng-model="encode" class="form-control"
					placeholder="add plain text" requiered /> <br>
			</form>
		</div>

		<div ng-show="tab.isSet(2)">
			<form name="decodeForm">
				<h4>Input Base64 code to decode in plain text</h4>
				<input ng-model="decode" class="form-control" placeholder="add code"
					requiered /> <br>
			</form>
		</div>


	</div>
</body>
</html>